/*-------------------------------------------*/
/*
/*-------------------------------------------*/
header h1 { margin: 0; }

#vkEdit_masterCtrlPanel { border: 1px solid #468847; border-radius: 3px; padding: 10px; margin: 10px 0; background-color: #dff0d8; box-shadow: inset 0px 0px 0px 1px white; }
#vkEdit_masterCtrlPanel button { padding: 3px 10px; color: #fff; border: none; border-radius: 3px; }
#vkEdit_masterCtrlPanel p { margin-bottom: 0; color: #468847; }
#vkEdit_masterCtrlPanel.vkEdit_masterCtrlPanel_alert { border: 1px solid #c00; background-color: #ffe5e5; }
#vkEdit_masterCtrlPanel.vkEdit_masterCtrlPanel_alert button { background-color: #c00; }
#vkEdit_masterCtrlPanel.vkEdit_masterCtrlPanel_alert p { color: #c00; }

.sen { border: 1px solid #ff0000; }

.vkEdit_btn { display: inline-block; padding: 1px 4px; margin: 0 2px; font-size: 10px; line-height: 14px; background-color: #555; color: #f5f5f5; cursor: pointer; border-radius: 2px; }
.vkEdit_btn.vkEdit_btn_colSize { background-color: #e5e5e5; color: #666; }
.vkEdit_btn.vkEdit_btn_edit { background-color: #1b809e; }
.vkEdit_btn:hover { background-color: #c00; color: #fff; }

.vkEdit_btnSet { display: block; overflow: hidden; float: left; }

.vkEdit_btnSet.hidden { display: none; }

.vkEdit_row_hover { background-color: #f5f5f5; border: 1px solid #333; }

.vkEdit_editPanel_row { clear: both; display: block; overflow: hidden; background-color: #333; padding: 0 23px; height: 0; }

.vkEdit_column_hover { background-color: #ffffcc; }

.vkEdit_editPanel_col { clear: both; display: block; overflow: hidden; background-color: #999; padding: 0 8px 1px; }
.vkEdit_editPanel_col .vkEdit_btnSet_size { float: none; clear: both; }

.vkEdit_column_active textarea { display: block; overflow: hidden; width: 96%; padding: 3px 2%; border: 2px dotted #c00; height: 6em; }

#vkEdit_editPanel_firstAddrow { display: block; overflow: hidden; width: 100%; }
