@charset "utf-8";
@import "compass";

@import "reset_bootstrap";

$panel_color : #999;
$rowPanel_color : #333;
$col_bg_active : #ffffcc;


#vkEdit_masterCtrlPanel { border:1px solid #468847 ; border-radius: 3px; padding: 10px;margin:10px 0;background-color: #dff0d8;box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,1);
		button { padding: 3px 10px;;color:#fff;border:none; border-radius: 3px; }
		p { margin-bottom:0;color: #468847; }

	&.vkEdit_masterCtrlPanel_alert { border:1px solid #c00 ; background-color: #ffe5e5;
		button { background-color: #c00 }
		p { color:#c00; }
	}
}

.sen { border:1px solid #ff0000;}

.vkEdit_btn { display:inline-block;padding:1px 4px; margin:0 2px;font-size:10px;line-height: 14px; background-color: #555;color:#f5f5f5;cursor: pointer;border-radius: 2px;
	&.vkEdit_btn_colSize { background-color: #e5e5e5;color:#666; }
	&.vkEdit_btn_edit { background-color:#1b809e; }
	&:hover { background-color: #c00;color:#fff; }
}
.vkEdit_btnSet { display:block; overflow:hidden;float:left; }
.vkEdit_btnSet.hidden { display: none; }

.vkEdit_row_hover { background-color: #f5f5f5;border:1px solid #333; }
.vkEdit_editPanel_row { clear:both;display:block; overflow:hidden;background-color: $rowPanel_color;padding: 0 23px;height:0; }

.vkEdit_column_hover { background-color: $col_bg_active; }
.vkEdit_editPanel_col { clear:both;display:block; overflow:hidden;background-color: $panel_color;padding: 0 8px 1px;
	.vkEdit_btnSet_size { float:none;clear: both; }
}
.vkEdit_column_active textarea { display:block; overflow:hidden;width: 96%;padding:3px 2%;border:2px dotted #c00;height:6em; }

#vkEdit_editPanel_firstAddrow { display:block; overflow:hidden;width:100%; }

// .column { border:1px dotted #333;margin:1px; }